body{
  background-color:#EDD892;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: contain;
  background-blend-mode: darken;
}

.collapsable{
  height: 10%;
  margin:10px;
}

.collapsable button{
  border: none;
  background: none;
  padding: 10px;
}

.collapsable i {
  align-items: center;
  color: white;
  font-size: 25px;
}

.content{
  width: 40px;
  padding: 10px;
}

.content a {
  font-size: 8px;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.container {
  margin-top: 20%;
}

.title h1{
  animation: title 3s 1 0s linear;
  font-family: 'Nunito', sans-serif;
  opacity: 0.98;
  font-size: 43px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.search-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
    animation: yourAnimation 3s 1 0s linear;
}

.input-box{
  border: none;
  outline: none;
  background: none;
  float: left;
  padding: 0;
  color: grey;
  font-family: 'Nunito', sans-serif;
  opacity: 0.9;
  font-size: 16px;
  transition: 0.4s all;
  line-height: 40px;
  width: 0px;
}

.btn {
  color: grey;
  float: right;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  text-shadow: 1px;
}

.btn i {
  align-items: center;
  color: #FCB97D;
}

.search-bar:hover .input-box{
  width: 400px;
  padding-left: 10px;
}

footer{
  bottom: 0;
  height: 25px;
}

footer i {
  bottom: 0;
  float:left;
  font-size: 15px;
}

@keyframes title{
    0%{
        transform: rotate(xx) translateY(-90%);
        opacity: 0;
        }
    48%{
        transform: translateY(-40%);
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx);
        font-weight: 400;
        }
}

@keyframes yourAnimation{
    0%{
        opacity: 0;
        }
    50%{
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}
